In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../models/sequences_seed_text.csv')

In [5]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,147,238,1431,601,1430,1429,70,65,1,27,15,19,235,38,167,602
1,238,1431,601,1430,1429,70,65,1,27,15,19,235,38,167,602,603
2,1431,601,1430,1429,70,65,1,27,15,19,235,38,167,602,603,604
3,601,1430,1429,70,65,1,27,15,19,235,38,167,602,603,604,28
4,1430,1429,70,65,1,27,15,19,235,38,167,602,603,604,28,385
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6054,10,379,13,293,7,1426,19,45,146,1427,294,236,1428,7,2,191
6055,379,13,293,7,1426,19,45,146,1427,294,236,1428,7,2,191,237
6056,13,293,7,1426,19,45,146,1427,294,236,1428,7,2,191,237,384
6057,293,7,1426,19,45,146,1427,294,236,1428,7,2,191,237,384,22
6058,7,1426,19,45,146,1427,294,236,1428,7,2,191,237,384,22,104